nav {
  display: flex;
  width: 100%;
  justify-content: flex;
  align-items: center;
  background: greenyellow;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  height: 2em;
  /* padding: 5% ; */
  /* float: right; */
  transition: top 0.3s;
  top: -1%;
  position: fixed; /* Make it stick/fixed */
}

nav a {
  padding: .4em .4em;
  border: .4em;
}

header {
	color: black;
	padding: 0.2em 0;
}

header h1 {
	margin-left: 0.5em;
}

.container {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	margin-top: 2em;
}

a.card {
  background-color: black;
  /* width:100%; */
}

.card {
	display: flex;
	width: 90%;
	max-height: 6em;
	border: 1px solid #f8f8f8;
	border-radius: 2px;
	align-items: center;
	justify-content: space-between;
}

.card .title {
	color: #f8f8f8;
	margin-left: 1em;
}

.card .ticker {
	display: flex;
	flex-direction: column;
}

.card .ticker span {
	color:white;
	margin-right: 1em;
	padding: 0.2em;
	text-align: center;
	border-radius: 2px;
}

.down {
	background: #ef5350;
}

.up {
	background: #4caf50;
}
 @media (max-width: 500px  ){
    .App{
      background-color: white;
      }
 }

 @media (max-width: 400px  ){
  .App{
    width: 100%;
  }
}